<div *ngIf="dataLoaded == false" class="d-flex align-items-center">
  <strong>Loading...</strong>
  <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
</div>
<div><br /></div>
<ul *ngIf="dataLoaded != false" class="list-group">
  <li
    (click)="setCurrentCategory(clearCategory)"
    [class]="getClearCategoryClass()"
    routerLink="/products/"
  >
    All Products
  </li>
  <li
    routerLink="/products/category/{{ category.categoryId }}"
    (click)="setCurrentCategory(category)"
    *ngFor="let category of categories"
    [class]="getCurrentCategoryClass(category)"
  >
    {{ category.categoryName }}
    <span class="badge bg-primary rounded-pill"></span>
  </li>
</ul>
